/* Hide the scrollbar for Webkit browsers (Chrome, Safari, etc.) */
.hide_scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide the scrollbar for IE, Edge, and Firefox */
  .hide_scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;     /* Firefox */
  }
  